@model ECommerceWebSite.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class=" d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img class="d-block w-100 " src="~/images/bg-1.jpg" alt="First slide">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class=" pb-3 row text-center">
            <div class="col-sm-12">
                <h1>@Model.PageTitle</h1>
            </div>
            @foreach (var item in Model.categoryViewModels)
            {
                <div class="col-sm-6 pb-2">
                    <a asp-action="CategoryFilter" asp-controller="Products" asp-route-CategoryId="@item.Id">
                        <img src="~/images/@item.ImageAddress" class="img-thumbnail w-100" />
                    </a>
                    <h2>@item.Title</h2>
                    <p class="form-group">تعداد این دسته : @item.ProductCount</p>
                    <a asp-action="CategoryFilter" asp-controller="Products" asp-route-CategoryId="@item.Id" class="btn btn-info">مشاهده محصولات</a>
                </div>
            }
        </div>
    </div>

