@model ECommerceWebSite.Models.ViewModels.CartListViewModel
@{
    ViewData["Title"] = "Cart";
}

@if (Model.CartItems.Count > 0)
{
    <h1>سبد خرید شما  </h1>
}
@if (Model.CartItems.Count <= 0)
{
    <h1>سبد خرید خالی است</h1>
}


<table class="table table-responsive-sm">
    <thead>
        <tr class="d-flex" >
            <th scope="col" class="col-lg-4">
                <label class="control-label">Picture</label>
            </th>
            <th scope="col" class="col-2">
                <label asp-for="CartItems.FirstOrDefault().Title" class="control-label"></label>
            </th>
            <th scope="col" class="col-2">
                <label asp-for="CartItems.FirstOrDefault().Price" class="control-label"></label>
            </th>
            <th scope="col" class="col-1">
                <label asp-for="CartItems.FirstOrDefault().Quantity" class="control-label"></label>
            </th>
            <th scope="col" class="col-3">
                <label class="control-label">Delete</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr class="d-flex">
                <td scope="row" class="col-lg-4">
                    <img alt="picture" class="img-thumbnail w-50" src="~/images/@item.ImageAddress" />
                </td>
                <td class="col-2">
                    <label class="control-label">@item.Title</label>
                </td>
                <td class="col-2">
                    <label class="control-label">@item.Price</label>
                </td>
                <td class="col-1">
                    <label class="control-label">@item.Quantity</label>
                </td>
                <td class="col-3">
                    <a asp-action="DeleteCartItem" asp-route-id="@item.Id" class="btn btn-danger"> Delete this item</a>
                </td>
            </tr>
        }

        <tr>
            <td>
                <label asp-for="TotalPrice" class="control-label"></label>
            </td>
            <td>
                <label class="control-label">@Model.TotalPrice</label>
            </td>
        </tr>
    </tbody>


</table>

@if (Model.CartItems.Count > 0)
{
    <a asp-controller="Orders" asp-action="CheckOut" class="btn btn-success">پرداخت</a>
}
@if (Model.CartItems.Count <= 0)
{
    <button class="btn btn-light" disabled>پرداخت</button>
}